<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="Tests/phpunit-bootstrap.php"
         colors="true"
         verbose="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="PHPCS Sniffs">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Pantheon-WP-Minimum/Sniffs/</directory>
        </whitelist>
    </filter>
</phpunit>
